<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468601200834-7kc30iiehc2nmv0a03hi6tu622llsddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468601200834-7kc30iiehc2nmv0a03hi6tu622llsddj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-D457MRMsTPBi-v393dusVA_yF9Z8PkA</string>
	<key>GCM_SENDER_ID</key>
	<string>468601200834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.keller.KellerApp</string>
	<key>PROJECT_ID</key>
	<string>kellerliviaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kellerliviaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468601200834:ios:951fb597d2d386e24b9b5b</string>
</dict>
</plist>